<h1>Waltz</h1>
<% @user ||= current_user %>
<div  >
    <table >
        <ul>
            <tr>
            <th>Step Name</th>
            <th>Step Level</th>
            <th>Info</th>
            </tr>
            <% @dances.each do |dance| %>
                <tr>
                <td><%= dance.name %></td>
                <td><%= dance.level %></td>
                <td><%= dance.info %></td>
                <% if signed_in? %>
                    <%= form_for current_user.routine.build(:dance_id =>dance.id), :remote => true do |f| %>
                    <div><%= f.hidden_field :dance_id %></div>
                    <td class="actions" ><%= f.submit "Add" %></td>
                <% end %>
                <% end %>
                </tr>
                <% end %>
        </ul>
        <%= will_paginate (@dances)%>
    </table>
</div>
<div class="right_side round" id="ajax">

</div>







